do_token               = "your_token_here"
ssh_fingerprint         = "digitalocean_ssh_fingerprint"
droplet_image          = "ubuntu-24-04-x64"
droplet_region         = "nyc1"
droplet_size           = "s-1vcpu-1gb"
staging_public_key     = "ssh-ed25519 AAAA......"
scalr_hostname         = "your_orginization_here.scalr.io"
scalr_token            = "your_token_here"